@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600;700&family=IM+Fell+Great+Primer+SC&family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f3f3;
    font-family: poppins, Arial, sans-serif;
}

.head-container {
    height: 10vh;
    width: 100%;
    background-color: #9583B6;
}

.h1-title {
    text-align: center;
    font-size: 2.3rem;
    line-height: 2;
    color: #111;
}

/* Buscador inicio */

.sarch-container {

    width: 70%;
    border-radius: 5px;
    margin: 1rem auto;

}

.search input {
    width: 100%;
    background-color: #f1e8e8;
    color: #000;
    border: none;
    border-radius: 7px;
    font-family: poppins, Arial, sans-serif;
    font-size: 1rem;
    outline: none;
    display: block;
}

/* Buscador fin */

/* Saludo de Bienvenida inicio */

.bienvenida-container {
    height: 150px;
    width: 100%;
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida-container h4 {
    font-size: 2rem;
    font-family: 'Cormorant', serif;;
}

/* Saludo de Bienvenida fin */


/* ------- Sección 1 ------- */
.catalogo-postres {
    height: 70%;
    width: auto;
    background-color: #FFB6C1;
    padding-bottom: 1rem;
}

.h2-title {
    text-align: center;
    line-height: 3;
}

/* tabla inicio */

.table__container {
    background-color: #999;
    max-width: auto;
    min-width: 90%;
    margin: 1rem auto;
    border-radius: 7px;
    border-collapse: collapse;
    cursor: pointer;
}

.table__container td {
    border-bottom: solid 1px #aaa;
    text-align: justify;
}

.table__container thead {
    background-color: #9583B6;
    text-align: justify;
}

.table__container tbody tr:nth-child(even) {
    background-color: #ddd;
}

.table__container tbody tr:hover {
    background-color: #555;
    color: #f1e8e8;
}

/* tabla fin */

